# To run your own local node for e2e testing, set this to "false"
START_LOCAL_NODE_FOR_TEST="true"

# The Aptos network to use
NEXT_PUBLIC_APTOS_NETWORK="testnet"

# The address of the main `emojicoin_dot_fun` contract module
NEXT_PUBLIC_MODULE_ADDRESS="0xbabe8f471b7f4744502b1397530bafe80e3731b358c0dfeba26b38b2603bd00d"

# The default URL for a local inbox deployment. Do not add a slash to the end
INBOX_URL="http://localhost:3000"

## A `nextjs` setting to determine the query revalidation length, in seconds.
REVALIDATION_TIME="60"

# The integrator address for the contract.
NEXT_PUBLIC_INTEGRATOR_ADDRESS="0xbabe8f471b7f4744502b1397530bafe80e3731b358c0dfeba26b38b2603bd00d"

# The BPS fee rate for each swap, liquidity provision, or liquidity removal.
NEXT_PUBLIC_INTEGRATOR_FEE_RATE_BPS="125"

# If false, no allowlist is set up
# If true, GALXE_CAMPAIGN_ID (and|or) ALLOWLISTER3K_URL needs to be set
IS_ALLOWLIST_ENABLED="false"
GALXE_CAMPAIGN_ID=""
ALLOWLISTER3K_URL=""
