# cspell:word fullnodes

# Environment variables here are pre-populated to facilitate a quick setup.
#
# Emojicoin indexer: Runs locally, in a Docker container.
# Frontend:          Runs locally, on the host machine.
# Smart contract:    Uses the `mainnet` network through Aptos Labs fullnodes.
#
# Extraneous environment variables are removed for more visual clarity.
#
# See the README for a detailed description of each environment variable.

# ---------------------------------------------------------------------------- #
#                      Aptos network & contract addresses
# ---------------------------------------------------------------------------- #
NEXT_PUBLIC_APTOS_NETWORK="mainnet"
NEXT_PUBLIC_MODULE_ADDRESS="0xface729284ae5729100b3a9ad7f7cc025ea09739cd6e7252aff0beb53619cafe"
NEXT_PUBLIC_REWARDS_MODULE_ADDRESS="0xbabe32dbe1cb44c30363894da9f49957d6e2b94a06f2fc5c20a9d1b9e54cface"
NEXT_PUBLIC_INTEGRATOR_ADDRESS="0x99994f5124fa5cc95538217780cbfc01e4c4f842dfcc453890755b2ce4779999"

# ---------------------------------------------------------------------------- #
#                  Emojicoin indexer, broker, and allowlister
# ---------------------------------------------------------------------------- #
EMOJICOIN_INDEXER_URL="http://localhost:3000"
NEXT_PUBLIC_BROKER_URL="ws://localhost:3009"
ALLOWLISTER3K_URL=""

# ---------------------------------------------------------------------------- #
#                     Miscellaneous frontend configurations
# ---------------------------------------------------------------------------- #
NEXT_PUBLIC_INTEGRATOR_FEE_RATE_BPS="100"
NEXT_PUBLIC_IS_ALLOWLIST_ENABLED="false"
NEXT_PUBLIC_LINKS='{
    "x": "",
    "github": "",
    "discord": "",
    "tos": ""
}'
NEXT_PUBLIC_DISCORD_METADATA_REQUEST_CHANNEL=""
REVALIDATION_TIME="1"
HASH_SEED="some random string that is not public"
GEOBLOCKED='{"countries":[],"regions":[]}'
NEXT_PUBLIC_CDN_URL=""

# ---------------------------------------------------------------------------- #
#                                   API Keys
# ---------------------------------------------------------------------------- #
EMOJICOIN_INDEXER_API_KEY="" # Leave empty if running the indexer locally.
COINGECKO_API_KEY=""
NEXT_PUBLIC_MAINNET_APTOS_API_KEY=""
SERVER_MAINNET_APTOS_API_KEY=""
