# cspell:word fullnodes

# Environment variables here are pre-populated to facilitate a quick setup.
#
# Emojicoin indexer: Runs locally, in a Docker container.
# Frontend:          Runs locally, on the host machine.
# Smart contract:    Uses the `testnet` network through Aptos Labs fullnodes.
#
# Extraneous environment variables are removed for more visual clarity.
#
# See the README for a detailed description of each environment variable.

# ---------------------------------------------------------------------------- #
#                      Aptos network & contract addresses
# ---------------------------------------------------------------------------- #
NEXT_PUBLIC_APTOS_NETWORK="testnet"
NEXT_PUBLIC_MODULE_ADDRESS="0x11113ddc70ea051ffd8a7cde7b96818326aabf56fdfd47807f7700e2b46e1111"
NEXT_PUBLIC_REWARDS_MODULE_ADDRESS="0x22227920701e36651a6649be2067cd7eebf3fabb94717ff3b256e3ada58b2222"
NEXT_PUBLIC_INTEGRATOR_ADDRESS="0x33332c9ea4c220e0572b7f83f397164f8171e1c9f681136bb8ab78efa6c43333"

# ---------------------------------------------------------------------------- #
#                  Emojicoin indexer, broker, and allowlister
# ---------------------------------------------------------------------------- #
EMOJICOIN_INDEXER_URL="http://localhost:3000"
NEXT_PUBLIC_BROKER_URL="ws://localhost:3009"
ALLOWLISTER3K_URL=""

# ---------------------------------------------------------------------------- #
#                     Miscellaneous frontend configurations
# ---------------------------------------------------------------------------- #
NEXT_PUBLIC_INTEGRATOR_FEE_RATE_BPS="100"
NEXT_PUBLIC_IS_ALLOWLIST_ENABLED="false"
NEXT_PUBLIC_LINKS='{
    "x": "",
    "github": "",
    "discord": "",
    "tos": ""
}'
NEXT_PUBLIC_DISCORD_METADATA_REQUEST_CHANNEL=""
REVALIDATION_TIME="1"
HASH_SEED="some random string that is not public"
GEOBLOCKED='{"countries":[],"regions":[]}'
NEXT_PUBLIC_CDN_URL=""

# ---------------------------------------------------------------------------- #
#                                   API Keys
# ---------------------------------------------------------------------------- #
EMOJICOIN_INDEXER_API_KEY="" # Leave empty if running the indexer locally.
COINGECKO_API_KEY=""
NEXT_PUBLIC_TESTNET_APTOS_API_KEY=""
SERVER_TESTNET_APTOS_API_KEY=""
