.circle{
  display:inline-block;
  vertical-align:middle;
}
.circle.plus:before,
.circle.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#717386;
}
.circle.plus:before{
    width: 2px;
    margin: 10px auto;
}
.circle.plus:after{
    margin: auto 10px;
    height: 2px;
}

.circle.minus:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#717386;
    margin: auto 10px;
    height: 2px;
}

.trololol {
    background: red;
}
