@keyframes image-pulse {
  0% {
    filter: drop-shadow(0 0 0.01vmin rgba(8, 108, 217, 0.1)) brightness(1);
  }
  50% {
    filter: drop-shadow(0 0 0.015vmin rgba(8, 108, 217, 0.15)) brightness(1.15);
  }
  100% {
    filter: drop-shadow(0 0 0.01vmin rgba(8, 108, 217, 0.1)) brightness(1);
  }
}

.hero-image-animation {
  animation: image-pulse 4s infinite ease-in-out;
}

#hero-image {
  filter: drop-shadow(0 0 0.01vmin rgba(8, 108, 217, 0.1)) brightness(1);
  width: 289px;

  @media screen and (min-width: 578px) {
    width: 417px;
  }

  @media screen and (min-width: 1096px) {
    width: 545px;
  }

  @media screen and (min-width: 1355px) {
    width: 675px;
  }

  @media screen and (min-width: 1614px) {
    width: 803px;
  }

  @media screen and (min-width: 1873px) {
    width: 932px;
  }
}
