/* cspell:disable */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  .Toastify__toast-container > * {
    font-family: var(--font-forma) !important;
    line-height: 1.4rem;
  }

  .Toastify__progress-bar {
    height: 7px;
  }

  --toastify-color-progress-dark: #2fa90f !important;

  --ec-blue: #086cd9;
  --lighter-gray: #9a9cb0;
  --light-gray: #717386;
  --dark-gray: #33343d;
  --blue: #64a7ff;
  --green: #2fa90f;
  --pink: #cd2f8d;
  --warning: #ffb119;
  --error: #f3263e;
}

.med-pixel-search {
  width: 18px;
}

.med-pixel-close {
  width: 12px;
}

.search-picker {
  position: relative !important;
  width: 100% !important;
}
