/* cspell:disable */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  .Toastify__toast-container > * {
    font-family: var(--font-forma) !important;
    line-height: 1.4rem;
  }

  --toastify-color-progress-dark: #2fa90f !important;

  --ec-blue: #086cd9;
  --lighter-gray: #9a9cb0;
  --light-gray: #717386;
  --dark-gray: #33343d;
  --blue: #64a7ff;
  --green: #2fa90f;
  --pink: #cd2f8d;
  --warning: #ffb119;
  --error: #f3263e;
}

.med-pixel-text {
  font-size: 20px !important;
  line-height: 25px;
  font-family: var(--font-pixelar);
}

@media screen and (min-width: 768px) {
  .med-pixel-text {
    font-size: 22px !important;
    line-height: 27px;
    font-family: var(--font-pixelar);
  }
}

@media screen and (min-width: 1024px) {
  .med-pixel-text {
    font-size: 24px !important;
    line-height: 30px;
    font-family: var(--font-pixelar);
  }
}

@media screen and (min-width: 1440px) {
  .med-pixel-text {
    font-size: 32px !important;
    line-height: 40px;
    font-family: var(--font-pixelar);
  }
}

.med-pixel-search {
  width: 18px;
}

.med-pixel-close {
  width: 12px;
}

.search-picker {
  position: relative !important;
  width: 100% !important;
}
