html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1,
h2,
p {
  font-family: var(--font-pixelar);
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.error-container__title {
  font-size: 2rem;
  margin-bottom: 8px;
}

.error-container__message {
  font-size: 1rem;
  margin-bottom: 8px;
}

.error-container__sub-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}
