.scrollbar-track::-webkit-scrollbar-track {
  border-left: 1px solid #33343D;
}

.scrollbar-track::-webkit-scrollbar-thumb {
  background: #086cd9;
  border-radius: 2px;
  height: 39px;
}

.scrollbar-track::-webkit-scrollbar {
  width: 9px;
}
