---
jobs:
  playwright-tests:
    defaults:
      run:
        working-directory: 'src/typescript'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: 'actions/checkout@v4'
      with:
        submodules: 'false'
    - uses: 'actions/setup-node@v4'
      with:
        node-version-file: 'src/typescript/.node-version'
    - name: 'Install dependencies'
      run: 'npm install -g pnpm && pnpm install'
    - env:
        GITHUB_ACCESS_TOKEN: '${{ secrets.TRADING_VIEW_REPO_ACCESS_TOKEN }}'
        TRADING_VIEW_REPO_OWNER: '${{ secrets.TRADING_VIEW_REPO_OWNER }}'
      name: 'Clone submodule'
      run: 'pnpm run submodule'
    - name: 'Install Playwright Browsers'
      run: 'pnpm run playwright:install --with-deps firefox'
    - name: 'Run Playwright tests'
      run: 'pnpm run test:frontend'
    - if: 'failure()'
      name: 'Upload screenshots as artifacts'
      uses: 'actions/upload-artifact@v3'
      with:
        name: 'playwright-screenshots'
        path: 'screenshots/'
    timeout-minutes: 15
name: 'Run the frontend tests'
"on":
  pull_request: null
  push:
    branches:
    - 'main'
    - 'production'
  workflow_dispatch: null
...
